*{ 
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

body {
    background-color: #61122f;
}


nav {
    background-color: #f6b319;
    display: flex;
    justify-content: space-around;
}

nav .logo {
    display: flex;
}

nav .logo{
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 20px;
    margin-bottom: 3px;
    
}


nav .number {
    margin-right: 90px;
}

nav a  {
    color: #557c3e;
    text-shadow: black 2px 1px;
    
}

nav #cert {
    margin-left: 5px;
    font-size: 15px;
    color: black;
    text-shadow: none;
    
}

.logo img {
    height: 150px;
    width: 150px;
}

div #number {
    font-size: 30px;
    color: #61122f;
    text-shadow: none;
}

div #number:hover {
    transform: scale(1.0s);
    color: white;
}

div #deliver {
    float: right;
    color: #557c3e;
}

.sit {
    background-color: #61122f;
    text-align: center;
    margin-top: 5px;
    
}

.sit img {
    border-radius: 10px;
}

.container {
    background-color: #61122f;
    width: 100%;
}



.container .group {
    display: flex;
    text-align: center;
    margin: 20px;
}

.container .group .col-2 {
    width: 320px;
    height: 200px;
    margin-right: 50px;
    border-radius: 10px;
} 

.container iframe{
    border-radius: 10px;
}

.container p {
    color: white;
    margin-right: 50px;
    transition: 1.0s;
    border-radius: 10px;
}

.container p:hover {
    background: black;
    transform: scale(1.5s);
}

section {
    background-color: rgb(26, 26, 26);
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: system-ui;
}

section div {
    font-size: 16px;
}

section #hour {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

section #address {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

section span {
    color: rgb(0, 75, 0);
    font-size: 15px;
}

#loader {
    text-align: center;
}
  


@media (min-width: 768px) and (max-width: 991px) {
    nav {
        width: 140%;
    }

    .container {
        width: 140%;
    }


    .sit img{
        width: 140%;
    }

    .container .group iframe {
        width: 339px;
        height: 250px;
        margin: 10px;
    }


    .container .group .col-2 {
        width: 339px;
        height: 250px;
        margin: 10px;
    }

    section {
        width: 140%;
        height: 30vh;
    }

    section div {
        font-size: 9.5px;
    }
}




@media (min-width: 992px) and (max-width: 1024px) {

    nav {
        width: 145%;
    }

    .container {
        width: 130%;
    }

    .sit img{
        width: 1400px;
        
    }

    .container .group .col-2 {
        width: 400px;
        height: 250px;
        margin: 10px;
    }
    .container iframe {
        width:  400px;
        height: 250px;
        margin: 10px;
    }

    section {
        width: 140%;
    }

    section div {
        font-size: 9.5px;
    }
}